$white: rgb(255, 255, 255);
$blue: rgb(92, 150, 167);
$yellow: rgb(245, 209, 109);
$green: rgb(152, 177, 83);
$light-red: rgb(181, 128, 137);
$dark-red: rgb(168, 106, 117);
$light-blue: rgb(191, 229, 243);
$brown: rgb(187, 163, 139);
$light-blue: rgb(243, 246, 249);
$grey: rgb(229, 221, 219);
$black: rgb(0, 0, 0);

$lg: 992px;
$burger-menu-moved-to-left: 384px;

@font-face {
  font-family: 'TheSkinny';
  src: url('../fonts/TheSkinny.otf');
}

* {
  font-family: 'TheSkinny', monospace;
}

.navbar {
  box-shadow: 2px 2px 5px $grey;
  opacity: 0.9;
  background: $white;
  img {
    width: 80%;
    height: 80%;

    @media screen and (max-width: $lg) {
      width: 50%;
      height: 50%;
    }
  }
  a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    @media screen and (max-width: $burger-menu-moved-to-left) {
      max-width: 140px;
    }
  }
}

.spacer {
  width: 100%;
  height: 160px;

  @media screen and (max-width: $lg) {
    height: 132px;
  }
  @media screen and (max-width: $burger-menu-moved-to-left) {
    height: 80px;
  }
}

#showcase {
  min-height: 650px;
  background: url(../img/Showcase.jpeg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;

  h1 {
    font-size: 4rem;
    color: $black;
    -webkit-text-stroke: 1px $light-red;
  }
}

#expedition-glück {
  min-height: 650px;
  background-color: $blue;
  color: $white;
  #image {
    background: url(../img/FOTO4_Hut.JPG) center no-repeat;
    min-height: 800px;
    background-size: cover;
  }

  button {
    padding: 8px;
    width: 300px;
    background-color: var(--light-red);
    color: var(--white);
    box-shadow: none;
    border: none;
    font-size: 20px;
  }
}

#art-map {
  font-size: 25px;
  background-color: yellow;
}
