$white: rgb(255, 255, 255);
$blue: rgb(92, 150, 167);
$yellow: rgb(245, 209, 109);
$green: rgb(152, 177, 83);
$light-red: rgb(181, 128, 137);
$dark-red: rgb(168, 106, 117);
$light-blue: rgb(191, 229, 243);
$brown: rgb(187, 163, 139);
$light-blue: rgb(243, 246, 249);
$grey: rgb(229, 221, 219);
$black: rgb(0, 0, 0);

$lg: 992px;
$burger-menu-moved-to-left: 384px;

@font-face {
  font-family: 'TheSkinny';
  src: url('../fonts/TheSkinny.otf');
}

@font-face {
  font-family: 'Desereted';
  src: url(../fonts/Desereted.ttf);
}

@font-face {
  font-family: 'AmaticSC-Bold';
  src: url(../fonts/AmaticSC-Bold.ttf);
}

@font-face {
  font-family: 'AmaticSC-Regular';
  src: url(../fonts/AmaticSC-Regular.ttf);
}

* {
  font-family: 'AmaticSC-Bold';
}

.navbar {
  box-shadow: 2px 2px 5px $grey;
  opacity: 0.9;
  background: $white;
  img {
    width: 80%;
    height: 80%;

    @media screen and (max-width: $lg) {
      width: 50%;
      height: 50%;
    }
  }
  a {
    @media screen and (max-width: $burger-menu-moved-to-left) {
      max-width: 140px;
    }
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 1) !important;
  }
}

.spacer {
  width: 100%;
  height: 160px;

  @media screen and (max-width: $lg) {
    height: 132px;
  }
  @media screen and (max-width: $burger-menu-moved-to-left) {
    height: 80px;
  }
}

#showcase {
  .container {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/Showcase.jpeg) no-repeat center;
    background-size: cover;

    h1 {
      font-size: 5rem;
      color: $black;
      -webkit-text-stroke: 1px $white;
    }

    #demo {
      color: $blue;
      font-weight: bold;
      -webkit-text-stroke: 1px $black;
    }
  }
}

#expedition-glück {
  .container {
    background-color: $blue;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  img {
    max-width: 90%;
  }

  .row {
    max-width: 90%;
    margin: auto;
  }

  .col-md-6 {
    font-family: 'Desereted';
    text-align: justify;
    font-size: 1.4rem;
  }

  button {
    padding: 8px 16px;
    width: auto;
    background-color: $light-red;
    color: $white;
    box-shadow: none;
    border: none;
    font-size: 2rem;
  }
}

#art-map {
  .container {
    background-color: $yellow;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  .row {
    max-width: 90%;
    margin: auto;
  }

  p {
    font-family: 'Desereted';
    text-align: justify;
    font-size: 1.4rem;
  }

  button {
    padding: 8px 16px;
    width: 200px;
    background-color: $blue;
    color: $white;
    box-shadow: none;
    border: none;
    font-size: 2rem;
  }
}

#diy-automat {
  .container {
    background-color: $green;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 3px;
    color: $light-blue;
  }

  .row {
    max-width: 90%;
    margin: auto;
  }

  p {
    font-family: 'Desereted';
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 80px;
  }
  h3 {
    margin-bottom: 20px;
    color: $light-blue;
  }
}

#telefonzelle {
  .container {
    background-color: $light-red;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  .row {
    max-width: 90%;
    margin: auto;
  }

  p {
    font-family: 'Desereted';
    text-align: justify;
    font-size: 1.4rem;
  }
}

#clemens {
  .container {
    background-color: $blue;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  .row {
    max-width: 90%;
    margin: auto;
  }

  p {
    font-family: 'Desereted';
    text-align: justify;
    font-size: 1.4rem;
  }
}

#blog {
  .container {
    background-color: $yellow;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  .row {
    max-width: 90%;
    margin: auto;
  }

  p {
    font-family: 'Desereted';
    text-align: justify;
    font-size: 1.4rem;
  }
}

#team {
  .container {
    background-color: $green;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  .row {
    max-width: 90%;
    margin: auto;
  }

  p {
    font-family: 'Desereted';
    text-align: justify;
    font-size: 1.4rem;
  }
}

#contact {
  .container {
    background-color: $light-red;
  }
  .row {
    max-width: 90%;
    margin: auto;
  }
  h3 {
    font-size: 3rem;
    margin-top: 10px;
  }
  p {
    font-size: 1.8rem;
  }
  input[type='submit'] {
    background-color: $blue;
    border-color: $blue;
    font-size: 1.8rem;
  }
}
